# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build output
build/

# Track dist CSS/JS/images but ignore other dist files
dist/*
!dist/styles/
!dist/scripts/
!dist/images/
dist/styles/*
!dist/styles/*.css
dist/scripts/*
!dist/scripts/*.js
dist/images/*
!dist/images/**/*

# Ignore system files
.DS_Store
Thumbs.db
