.articles {
  max-width: initial;
  margin-bottom: 0;
}

.articles .articles__header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm) 0;
}

.articles .articles__header h2 {
  margin: 0;
}

.articles .swiper-buttons button {
  aspect-ratio: 1;
  width: 40px; /* No matching variable for width */
  display: flex;
  position: relative;
  color: var(--color-text);
  left: initial;
  right: initial;
}

.articles .swiper-buttons button::after {
  display: none;
}

.articles .swiper-buttons {
  display: flex;
  gap: var(--space-xs);
}
