.footer {
    padding: 2rem;
    position: relative;
}

.footer::before {
    content: '';
    display: block;
    height: 4px;
    background: linear-gradient(90deg, var(--color-accent-1), var(--color-accent-2));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
}

.footer__logo {
    width: 130px;
    margin: 1rem auto 2rem;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__social img {
    filter: invert(1);
    color: white;
    max-width: 16PX;
}

.footer__social {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    margin: auto 0;
}

.footer__links {
    align-items: center;
    height: fit-content;
    margin: auto 0;
}
