@charset "UTF-8";
:root {
  --font_primary: sans-serif;
  --font_code: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --color_primary: #2d2d2d;
  --color_white: #ffffff;
  --color_grey: #f6f8fa;
  --color_grey_light: #f5f5f5;
  --color_grey_dark: #DDDDDD;
  --color_blue: #24292f;
  
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-string: #0a3069;
}

/* README DOCUMENTATION */
.markup * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.markup {
  font-family: var(--font_primary);
  font-size: 15px;
  line-height: 1.675rem;
  padding-bottom: 5rem;
  color: var(--color_blue);
  padding: 3rem 1rem;
  border-bottom: 1px solid var(--color_grey_dark);
  background-color: var(--color_grey);
}

.markup a {
    text-decoration: none;
    color: #0969da;
}
.markup p {margin-top:0;margin-bottom:16px;line-height:1.5}
.markup blockquote {
    border-left: .25em solid #d0d7de;
    padding: 0 1em;
    color: #57606a;
}
.markup h1,
.markup h2,
.markup h3,
.markup h4 {
  margin: 24px 0 16px 0;
  padding-bottom: 0.675rem;
  line-height: 1.25;
  font-weight: 600}

.markup h1 { font-size: 1.5em;border-bottom: 1px solid var(--color_grey_dark)}
.markup h2 { font-size: 1.25em;
    padding-bottom: .3em;}
.markup h3 {font-size: 1em}

.markup small {
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 400}

.markup ul {
  list-style-position: inside;
  padding-left: 1.35em;
  line-height: 1.5}

.markup .container {
    background-color: white;}

.markup code {
    text-align: left;
    padding: 1rem 1.5rem;
    display: flex;
    width: 100%;
    background-color: var(--color_grey);
    font-family: var(--font_code)}
    .markup code ol {
        list-style: none;
        width: 100%}
    .markup code li {
      position: relative}
    .markup code pre {
      width: 100%;
      font-family: var(--font_code)
      font-size: 0.85rem;
      line-height: 1.5rem}

.markup .container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 1px solid #d0d7de;
  padding: 2rem 3rem;
  border-radius: 6px;
}

.markup table.settings {
  width: 100%;
  text-align:left;
  border-collapse: collapse;
  line-height:1.5;
}
  
  .markup table.settings th {
      text-align: center;
      padding:0.5rem 0;
      background-color: var(--color_grey_light);
  }
  .markup table.settings td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
    min-width: 1.5rem;
    max-width: 100px}
    
  .markup table.settings tr td[colspan] {
    border:0;
    padding: 1em 0;
  }
    
  .markup table.settings tr:nth-child(even) td:not([colspan]) {
    background-color: #f6f8fa;
  }

/*  Pretty Lights -code syntax */
.markup .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}

.markup .pl-c1, 
.markup .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}

.markup .pl-s,
.markup .pl-pds,
.markup .pl-s .pl-pse .pl-s1,
.markup .pl-sr,
.markup .pl-sr .pl-cce,
.markup .pl-sr .pl-sre,
.markup .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}
